---
import Layout from '@/layouts/Layout.astro'
import { InteractiveCarousel } from '@/components/InteractiveCarousel'
import { TopicDetails } from '@/components/TopicDetails'
import { SupportedLanguages, topicData, type Topics } from '@/data/contentData'
import DetailLayout from '@/layouts/DetailLayout.astro'

const { topic, language } = Astro.params as {
    topic: Topics
    language: SupportedLanguages
}

export const getStaticPaths = () => {
    return topicData.flatMap(({ topic }) =>
        Object.values(SupportedLanguages).map((language) => ({
            params: { topic, language },
        }))
    )
}

const thisTopic = topicData.find(({ topic: eachTopic }) => topic === eachTopic)
---

<Layout title="Topic Details">
    <DetailLayout>
        <div class="flex gap-[180px] pt-[200px]">
            <InteractiveCarousel
                topic={topic}
                language={language}
                captions={thisTopic?.captions}
                images={thisTopic?.images ?? []}
                client:only
                ><div class="w-[720px]" slot="fallback">
                </div></InteractiveCarousel
            >
            <TopicDetails
                className="mr-20"
                title={thisTopic?.title?.[language]}
                description={thisTopic?.description?.[language]}
                client:only
            />
        </div>
    </DetailLayout>
</Layout>
